<!DOCTYPE html>
<html>
    <head>
        <title>My Blog</title>
    </head>
    
	<link href="webtech1.css" rel="stylesheet">
	<script type="text/javascript">
		var name=window.prompt("Enter your register number");
	</script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<body ng-app="simpleCal">
	
    <body>
        <!-- header start -->
        <div id="header" class="section">
           <h1>Welcome to Angular JS</h1>
        </div>
		<div ng-controller="simpleCalController">
	    First no:
	    <div>
	        <input type="text" ng-model="n1" ng-keyup="cal();">
	    </div>
	    Second no:
	    <div>
	        <input type="text" ng-model="n2" ng-keyup="cal();">
	    </div>
	    <div>
        Total value is: {{totalValue}}
	    </div>
	    </div>   
    </body>
</html>